# and

In [46]:
age=18  
is_student =True
if age<= 25 and is_student:
 print("you are eligible for a student  discount.")
else:
 print("you are not eligible for a student  discount")

you are eligible for a student  discount.

# or

In [106]:
temperature=28
is_raining=True
if temperature>=30 or is_raining:
 print("it's good day to stay indoor.")
else:
 print("let's good day outside and enjay the day")

it's good day to stay indoor.

# assert

In [89]:
a=110
assert a==110
print('assertion is successful')
 # c to c is not equal  ,so assert error
c=5
assert c==10, ' c is not equal to 10'
print(c)

assertion is successful

AssertionError:  c is not equal to 10

# not

In [113]:
flag=True
if not flag:
 print("iam inside if condition")
else:
 print("iam inside else condition")

iam inside else condition

# break

In [86]:
sample_list=['praveen','saran','siva','mari']
for i in sample_list:
    print(i)
    if i =='siva':
     break
print('The control is here now')

praveen
saran
siva
The control is here now

# continue

In [78]:
sample_list1=['praveen','saran','ajay','siva']
for i in sample_list1:
   if i =='saran':
     continue
   print(i)

praveen
ajay
siva

In [ ]:
 # same example

In [75]:
sample_list2 = ['senthil','kumar','praveen', 'preetha']
for i in sample_list2:
    if i == 'praveen': 
        continue # continou the loop instead of going below
    print(i)

senthil
kumar
preetha

# pass

In [117]:
class calculator():
 def add(a,b):
   return(a+b)
 def subsract(a,b):
    return(a-b)
pass

# class

In [ ]:
#bulueprint for creating objects

In [139]:
class calculator():
    def add(a,b):
     return(a+b)
    def substract(a,b):
     return(a-b)
    def multiplicat(a,b):
     return(a*b)
    def division(a,b):
     return(a/b)
obj=calculator.division(100,5)
print(obj)

20.0

# def

In [185]:
# functions
 def add(a,b):
  return a+b
 c=add(19,20)
 print(c)

39

# del

In [211]:
list1=[1,2,3,4,6,7]
print('before deletion',list1)
del list1 
print(list1)

before deletion [1, 2, 3, 4, 6, 7]

NameError: name 'list1' is not defined

In [228]:
c=10
if c==10:
 print('c is 10')
else:
 print('c is not 10')

c is 10

In [230]:
# same example
c=70
if c==20:
 print('c is 70')
else:
 print('c is not 70')

c is not 70

# elif

In [241]:

  a=5
  if a==10:
     print('a is 10')
  elif a==5:
    print('a is 5')
else:
    print( 'a is not 10')

a is 5

In [243]:
# To handle errors
a = 0
try: 
    c = 10/a  # example open file here
except:
    print('can not divide by zero')  # print the error when file is not read successfully
finally:
    pass  # example close the file once read

can not divide by zero

# from

In [260]:
# with from
from time import sleep    # take only sleep function from time.py
sleep(5)
print('affter sleeping iam here')

affter sleeping iam here

In [264]:
# without  from
import time                      # take all functions from time.py
time.sleep(5)
print('after sleeping iam here')

after sleeping iam here

# exec

In [267]:
# when a python code is a string
code_to_execute="print (' my name')"
exec(code_to_execute)

 my name

In [298]:
a=5
def printer():
    global a    # Convert a local variable to global variable
    a=18
printer()
print(a)

18

In [301]:
a=10
a=20
print(a)

20