# and

In [46]:
age=18  
is_student =True
if age<= 25 and is_student:
 print("you are eligible for a student  discount.")
else:
 print("you are not eligible for a student  discount")

you are eligible for a student  discount.

# or

In [30]:
temperature=28
is_raining= False
if temperature<=30 or is_raining:
 print("it's good day to stay indoor.")
else:
 print("let's good day outside and enjay the day")

it's good day to stay indoor.

# assert

In [33]:
a=110
assert a==110
print('assertion is successful')
 # c to c is not equal  ,so assert error
c=5
assert c==10, ' c is not equal to 10'
print(c)

assertion is successful

AssertionError:  c is not equal to 10

# not

In [34]:
flag=True
if  not flag:
 print("iam inside if condition")
else:
 print("iam inside else condition")

iam inside if condition

# break

In [86]:
sample_list=['praveen','saran','siva','mari']
for i in sample_list:
    print(i)
    if i =='siva':
     break
print('The control is here now')

praveen
saran
siva
The control is here now

# continue

In [78]:
sample_list1=['praveen','saran','ajay','siva']
for i in sample_list1:
   if i =='saran':
     continue
   print(i)

praveen
ajay
siva

In [ ]:
 # same example

In [27]:
sample_list2 = ['senthil','kumar','praveen', 'preetha']
for i in sample_list2:
    if i == 'praveen': 
        continue # continou the loop instead of going below
    print(i)

senthil
kumar
preetha

# pass

In [117]:
class calculator():
 def add(a,b):
   return(a+b)
 def subsract(a,b):
    return(a-b)
pass

# class

In [ ]:
#bulueprint for creating objects

In [19]:
class calculator():
    def add(a,b):
     return(a+b)
    def substract(a,b):
     return(a-b)
    def multiplicat(a,b):
     return(a*b)
    def division(a,b):
     return(a/b)
obj=calculator.division(23,4)

print(obj)
print(type(obj))

5.75
<class 'float'>

# def

In [122]:
# functions
def add(a,b):
   return a+b
c=add(19,20)
print(c)
print(type(c))

39
<class 'int'>

# del

In [211]:
list1=[1,2,3,4,6,7]
print('before deletion',list1)
del list1 
print(list1)

before deletion [1, 2, 3, 4, 6, 7]

NameError: name 'list1' is not defined

# if

In [228]:
c=10
if c==10:
 print('c is 10')
else:
 print('c is not 10')

c is 10

In [230]:
# same example
c=70
if c==20:
 print('c is 70')
else:
 print('c is not 70')

c is not 70

# elif

In [21]:

  a=10
  if a==10:
     print(' a is 10')
  elif a==9:
    print('a is 5')
else:
    print( 'a is not 10')

 a is 10

In [243]:
# To handle errors
a = 0
try: 
    c = 10/a  # example open file here
except:
    print('can not divide by zero')  # print the error when file is not read successfully
finally:
    pass  # example close the file once read

can not divide by zero

# from

In [260]:
# with from
from time import sleep    # take only sleep function from time.py
sleep(5)
print('affter sleeping iam here')

affter sleeping iam here

In [264]:
# without  from
import time                      # take all functions from time.py
time.sleep(5)
print('after sleeping iam here')

after sleeping iam here

# exec

In [267]:
# when a python code is a string
code_to_execute="print (' my name')"
exec(code_to_execute)

 my name

# global

In [2]:
a=5
def printer():
    global a    # Convert a local variable to global variable
    a=18

print(a)

5

In [301]:
a=10
a=20
print(a)

20

# for

In [15]:
for i in 'praveen':      #  to iterable
    print(i)

p
r
a
v
e
e
n

# import

In [38]:
import time # .py
from time import sleep # class, function, variable

# in

In [391]:
a= 'saran'
b='mari'
name_list=['praveen','kumar','ajay','mani','saran']
print(a in name_list)
print(b in name_list)
print(type(a in name_list))

True
False
<class 'bool'>

# is

In [392]:
a='praveen'
b='praveen'
z=a
print(a is b)
print(id(a))
print(id(b))
print(type(a is b))
print(( z is b))

True
1975757662064
1975757662064
<class 'bool'>
True

 #  for immutable object

In [393]:
x = [1, 2, 3]
y = x  # Both x and y reference the same list object

z = [1, 2, 3]  # A new list object with the same values as x

print(x is y)  # Output: True, x and y reference the same object
print(x is z)  # Output: False, x and z are different objects in memory

True
False

In [394]:
print(id(x))
print(id(y))
print(id(z))

1975768620928
1975768620928
1975768628544

what is the difference b.w 'is' and ==
is - it checks if objects memory address(id) are same or not
== - it checks if objects values are same or not

In [363]:
print(x==y)

True

# Lambda

In [15]:
# inline labmda


result=tuple(map(lambda x: x-1,[1,2,3,4,5,6,7,8,9,10]))
print(result)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# print

In [279]:
print('praveen')

praveen

# raise

In [285]:
raise ValueError(' no output')

ValueError:  no output

# return

In [314]:

def addition(a,b):
    c=(a+b)
    return c

print(addition(1,1))

2

In [16]:
# global is for variable name
# return is for function result(value)

# while

a=10
while a>0:
  print('welcome hello world')
  a=a-1

welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world
welcome hello world

# with

In [322]:
# Using 'with' to automatically close a file after reading
with open("myfile.txt", "r") as file:
    content = file.read()
    # Perform operations on 'content'

# 'file' is automatically closed outside the 'with' block

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

# yeild

In [358]:
list = [1,2,3]
def square(list_temp):
    for i in list_temp:
        
        yield i **6
        
result=square(list)
print(type(result))
next(result)

<class 'generator'>

1

# try,except

In [17]:
try:
    a=30/0
    print(a)
except ZeroDivisionError as e:
      print("code error:",e)

code error: division by zero