In [1]:
empty_tuple = ()
print(empty_tuple)

()

sample_dictionary

In [12]:
sample_dictionary={'key':'value'}
print(sample_dictionary)

{'key': 'value'}

In [11]:
empty_dictionary = {}
print(empty_dictionary)

{}

In [47]:
empty_tuple1=(1,2,34,5)
empty_tuple2=(2,9009)
for i in empty_tuple1:
    print(i)
for e in empty_tuple2:
   print(e)

1
2
34
5
2
9009

example_dictionary

In [ ]:
get keys and value

In [26]:
print(example_dictionary.keys())

dict_keys(['name', 'qualification', 'year'])

In [27]:
print(example_dictionary.values())

dict_values([['praveen'], 'msc', '2024'])

add key value

In [16]:
my_dictionary={'key1':'value1','key2':'value2'}
my_dictionary['key3']='value3'
print(my_dictionary)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
option 2

In [19]:
my_dictionary={'name1':'praveen','name2':'saran'}
my_dictionary.update({'name3':'mari'})
print(my_dictionary)

{'name1': 'praveen', 'name2': 'saran', 'name3': 'mari'}

In [ ]:
can we  add duplicate key in dictionary? no but value changes

In [35]:
my_dictionary={'key1':'value1','key2':'value2'}
my_dictionary['key1']='value2'
print(my_dictionary)

{'key1': 'value2', 'key2': 'value2'}

In [37]:
my_dict={'key1':'value1','key2':'value2','key3':'value3'}
del my_dict['key1']
print(my_dict)

{'key2': 'value2', 'key3': 'value3'}

mutable

In [45]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict['key1']='new value'
print(my_dict)

{'key1': 'new value', 'key2': 'value2'}

In [ ]:
itrable or not itrable

In [54]:
my_dictionary={'key1':'value1','key2':'value2'}
for i in my_dictionary:
 print(i)

key1
key2

In [ ]:
ordered

In [289]:
my_dict={'key1':'value1','key2': 'value2','key3':'value3'}
my_dict['key3']='value3'
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

empty tuple

In [15]:
empty_tuple=(1,2,3,4)
print(type(empty_tuple))
print(empty_tuple)

TypeError: set expected at most 1 argument, got 4

In [ ]:
immutaple

In [71]:
my_tuple=(1,2,3,4,5,6)
my_tuple[2]=5
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
iterable

In [69]:
my_tuple=(1,2,3,4,5)
for i in my_tuple:
    print(i)

1
2
3
4
5

In [ ]:
ordered

In [85]:
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple +(6,907,1)
print(new_tuple)

(1, 2, 3, 4, 5, 6, 907, 1)

In [88]:
my_tuple=(1,2,3,4,)
del my_tuple[3]
print(my_tuple)

TypeError: 'tuple' object doesn't support item deletion

In [96]:
my_tuple=(1,2,3,4,5)
del my_tuple
print( my_tuple)

SyntaxError: invalid syntax (1024164854.py, line 3)

In [101]:
var_4= 1,2,3,4,5,6
var_4[2]=8
print(var_4)

TypeError: 'tuple' object does not support item assignment

In [103]:
sample_tuple=(1,2,3,4,5)
sample_tuple[1]=12
print(saple_tuple)

TypeError: 'tuple' object does not support item assignment

In [119]:
numb_gen=(numb 2 for numb in range (5))
for num in numb_gen:
    print(num)

SyntaxError: invalid syntax (3291334414.py, line 1)

#

In [288]:
my_dictionary={'key1':'value1','key2':'value'}
my_dictionary['key1']='new_value'
print(example_dictionary)
print(type(my_dictionary))

{'name': ['praveen'], 'qualification': 'msc', 'year': '2024'}
<class 'dict'>

var_1=10
print(var_1[2])

In [25]:

print(resulte)

SyntaxError: invalid syntax (2297621274.py, line 3)

In [1]:
c

NameError: name 'c' is not defined

SyntaxError: invalid syntax (570979664.py, line 1)

In [ ]:
string immutable

In [94]:
name_list='q'
name_list[0]='a'
print(name_list)

TypeError: 'str' object does not support item assignment

In [ ]:
iterable

In [137]:
# dictionaray
my_dictionary={'name':'praveen','rollnum':'p2021','class':'msc'}
my_dictionary['rollnum']='iva'
print(my_dictionary)

{'name': 'praveen', 'rollnum': 'iva', 'class': 'msc'}

In [147]:
print('PraveeN'. capitalize())

Praveen

In [164]:
print('pra7'*1,'msc'*11

pra7 mscmscmscmscmscmscmscmscmscmscmsc

In [62]:
example_dictionary={'name':'praveen','qualification':'msc','print':'total'}
for i in example_dictionary:
 print(i)

name
qualification
print

In [72]:
print  (example_dictionary.keys())

dict_keys(['name', 'qualification', 'print'])

In [106]:
my_dict={'name':'praveen','qualification':'msc','print':'total'}
del my_dict['name']
my_dict.update({'rollnum':'p202190'})
print(my_dict)

{'qualification': 'msc', 'print': 'total', 'rollnum': 'p202190'}

In [126]:
my_tuple=(1,2,0,4,5)
new_tuple=my_tuple+(3,)
del new_tuple
print('new_tuple')

new_tuple

In [ ]:
/

In [22]:
a=25
b=7
c=a/b
print(c)

3.5714285714285716

In [ ]:
%

In [19]:
a=25
b=7
c=b%c
print(c)

7.0

In [52]:
a=4853
b=317
c=a*b
print(c)

1538401

In [91]:
a=2
i=3
a**=i
print(a)

8

In [18]:
a=300
b=420
a-=b
print(a)

-120

In [53]:
a=302
b=202
print(a)
print(b)

302
202

# map

In [19]:
temp_list=[i for i in range(12)]
numbers_list=list(map(lambda x:x*3,temp_list))
print(numbers_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

# zip

In [80]:
temp_list1=['mani','mani','siva','c']
temp_list2=['saran','siva','thil','dive']
for item1,item2 in zip(temp_list2,temp_list1,):
    print(item1,item2)

saran mani
siva mani
thil siva
dive c

In [85]:
tepm_list=['ravi','tharan']
':'.join(tepm_list)

'ravi:tharan'

In [86]:
temp_list=['siva','mani','arun']
for index,item in enumerate(temp_list):
    print(item,index)

siva 0
mani 1
arun 2

In [1]:
print("hllo,world")

hllo,world

In [6]:
var_1=4
print(var_1)
print(id(var_1))
a

4
140721753551752

In [6]:
empty_list={'key1':'value','key2':'value2','key4':'value3'}

empty_list['key1']=('praveen',)
del empty_list['key4']
print(empty_list)

{'key1': ('praveen',), 'key2': 'value2'}

In [20]:
list_example1=[1,2,3,4,5,6]
list_example2=['K','P','R','A','V','E','E','N']
for i in list_example1:
  print('i',i)
  for new in list_example2:
      print('new',new)

i 1
new K
new P
new R
new A
new V
new E
new E
new N
i 2
new K
new P
new R
new A
new V
new E
new E
new N
i 3
new K
new P
new R
new A
new V
new E
new E
new N
i 4
new K
new P
new R
new A
new V
new E
new E
new N
i 5
new K
new P
new R
new A
new V
new E
new E
new N
i 6
new K
new P
new R
new A
new V
new E
new E
new N

In [2]:
sample_list=set()
print(type(sample_list))

<class 'set'>

In [5]:
empty_list={1,2,3,4,6,6,7,7,5}
print(empty_list)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
remove duplicate list number 
list_set=[1,2,3,4,5,6,7,5,8]
unique_item=set(empty_list)
print(unique_item)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
empty_set=[1,2,3,4,5]
empty_set[4]='59'
print(empty_set)

[1, 2, 3, 4, '59']

In [74]:
sample_list=['praveen','praveen','arun','mani','mani','ajay','arun','kalai']
unique_item=set(sample_list)
for index,item in enumerate(unique_item):
   print(index,item)

0 ajay
1 arun
2 praveen
3 kalai
4 mani

In [26]:
list1=['ready','go','run','fast']
mini2=('high','ka')
object1=enumerate(list1)
object2=(mini2)
print("return type:",type(object))
print(list(enumerate(list1,1)))
print(list(enumerate(mini2,24)))

return type: <class 'type'>
[(1, 'ready'), (2, 'go'), (3, 'run'), (4, 'fast')]
[(24, 'high'), (25, 'ka')]

In [55]:
list1=['ready','go','run','fast']
for ele in enumerate (list1):
 print(ele)
#
list1=['ready','go','run','fast']
for count,ele  in enumerate(list1,100):
    print(ele,count)

(0, 'ready')
(1, 'go')
(2, 'run')
(3, 'fast')
ready 100
go 101
run 102
fast 103

In [58]:
number=float(123)
print(number)

123.0

In [61]:
empty_set=(1,2,3,4,5,6)
print(set())

set()

In [74]:
empty_set={1,2,3,4,5,6,7,8}
i =(empty_set)
 print (i)

IndentationError: unexpected indent (3300543784.py, line 3)

In [3]:
flot_number=(1.2,3.4,6.5)
print(flot_number

(1.2, 3.4, 6.5)

In [23]:
a=[1,2,3,4,5,6]
print(id(a))
b=[1,2,3,4,5,6]
print(id(b))
if a is
not b:
    print('id is same ')
else:
    print('id is not same')

2838562065792
2838539815424
id is same

In [1]:
a=10
b=40
c=a//-b
print(c)

-1

In [13]:
for numb in range(8):
     print(numb)

0
1
2
3
4
5
6
7

In [20]:
a=1
b=2
c=3
d=4
ouput=(a)[for i in range(0,a+1)]:
print(output)

SyntaxError: invalid syntax (954952023.py, line 5)

In [ ]:
align

In [84]:
cricketer='dhoni','virat koli','Sharma','sami','jadaja','siraju'
score=[  12, 30, 34, 64, 2, 67]
place=['deli','Bengaluru','Jaipur','himachal Pradesh,','karnataka']
strikrate=[12,2,3,4,65,7]
print(f"{'cricketer':>10}  {'score':^10}{'place':^10}{'strikrate':^10}")
for i in range(0,5):
 print(
    f"{cricketer[i]:>1}{score[i]:^10}{place[i]:^10}{strikrate[i]:^10}")

 cricketer    score     place   strikrate
dhoni    12       deli       12
virat koli    30    Bengaluru     2
Sharma    34      Jaipur      3
sami    64    himachal Pradesh,    4
jadaja    2     karnataka     65

In [77]:
Ms_dhoni="Chennai super kings team captan"
print(len(Ms_dhoni))
print(Ms_dhoni[26:32])

32
captan

In [95]:
bin_number=0b10
oct_number=0o10
hexa_number=0x10

print(bin_number)
print(oct_number)
print(hexa_number)

2
8
16

In [101]:
i=290
print(format (i, '0'))
print(format (i, 'b'))
print(format (i, 'x'))

290
100100010
122

In [12]:
number=[1,2,3,4,5,[2,-23,3],9,85]
print(len(number))
print(number[9])

8

IndexError: list index out of range

In [59]:
name=(['siva'],['ravi'],['mani'],['kavi'],['ragu'])
score=([32.20],[37.3],[37.3],[47],[48])
for b in  name, score:
   b.append([name,score])
   print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [106]:
my_set ={'apple','banana','mango', 'cerry','binapple'}
for i in  my_set:
 print(i)
 s ="-"
 x=s.join (i)
 print(x)

cerry
c-e-r-r-y
mango
m-a-n-g-o
binapple
b-i-n-a-p-p-l-e
banana
b-a-n-a-n-a
apple
a-p-p-l-e

In [7]:
a=54
b=73
c=a<b
print(c)

True

In [60]:
#
print(id('1234567890'.isdigit()))
print(type('abcd'.isdigit()))
print(id('abcdd'.isdigit()))
print(type('als'.isalpha()))

140719769758568
<class 'bool'>
140719769758600
<class 'bool'>

In [61]:
print(any(s.idigit() for s in string))

NameError: name 'string' is not defined

In [1]:
import numpy as np
power_leval_list=np.array([1000,2000,150,1039,900000,1500])
any(power_leval_list >90000)

True

In [34]:
from collections import Counter 
numshoes=int(input())
shoes=Counter(map(int,input().split()))
numcust=int(input())
income=0
for i  in range(numcust):
  size,price=map(int,input().split())
  if shoes [size]:
      shoes[size]-=1
      income+=price
print(income)

ValueError: invalid literal for int() with base 10: ''

In [59]:
a=input().split()

In [60]:
from collections import Counter

In [61]:
hoes=Counter(map(5,'5'.split()))

TypeError: 'int' object is not callable

In [68]:
map(int, [1,2,3])

In [71]:
Counter(map(int,[1,2,3]))

Counter({1: 1, 2: 1, 3: 1})

In [2]:
map(int,[5,6])

In [25]:
Counter(map(int,[1,2,3]))

NameError: name 'Counter' is not defined

In [77]:
praveen_number=[1,2,3,4,5,6,7,8]
kalai_number_list=[]
siva_number_list=[]
for hari_num in praveen_number:
 kalai_number_list.append (hari_num*3)
print(kalai_number_list)

[3, 6, 9, 12, 15, 18, 21, 24]

In [128]:
x=1
y=1
z=2
n=3
hai=[]
  

for i in range(x+1):
 print('this is x:',i)
 for j in range(y+1):
  print('this is y:',j)

this is x: 0
this is y: 0
this is y: 1
this is x: 1
this is y: 0
this is y: 1

In [237]:
a=[1,2,4,5,3,6,8,9,7]
a.sort()

In [218]:
a
print(a)

TypeError: 'int' object is not callable

In [24]:
a=[1,4,3,6,5,8,9,2,7]
b=[]
for i in a:
 b=[i.sort()]
 print(b)

AttributeError: 'int' object has no attribute 'sort'

In [25]:
1()

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\KBRO\AppData\Local\Temp\ipykernel_2644\4217450921.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  1()

TypeError: 'int' object is not callable

In [26]:
def a():
    pass

In [27]:
a()

In [88]:
a=[1,2,3,5,6,8,]
b=[9,3,4,6,7,]
a.sort(), b.sort()
a.uniq(b)
print(a+ b)

AttributeError: 'list' object has no attribute 'uniq'

In [1]:

a=9
b=29
c=7
d=27
i=(a**b)
print(i)
k=(c**d)
print(k)
print(i+k)

4710128697246244834921603689
65712362363534280139543
4710194409608608369201743232

In [18]:
#power mode
a=2
b=3
m=8
print(a**b)
print(a**b%m)

8
0

In [13]:
class myclass:
 def __init__(self,value):
     self.attribute=value 
my_instance= myclass(34/54)
print(my_instance.attribute)


print(my_instance)

0.6296296296296297
<__main__.myclass object at 0x000002279E5B2790>

In [27]:
text='my name is praveen kalimuthu'
hash_value= hash()
print(hash_value)

5740354900026072187

In [50]:
a=10
b=10

if a is not  b :
 print('20',
     'true i am runing ')
else:
 print('false '
 ,'not runing')

false  not runing

In [1]:
def marksort(subject):
    for fillslot in range(len(subject)-1, 0, -1):
        maxmark = 0
        for location in range(1, fillslot + 1):
            if subject[location] > subject[maxmark]:
                maxmark = location

        temp = subject[fillslot]
        subject[fillslot] = subject[maxmark]
        subject[maxmark] = temp
    return subject


subject = [20, 45, 32, 54, 12, 34]
marksort(subject)
print(marksort(subject))

[12, 20, 32, 34, 45, 54]

In [3]:
list_name=["praveen"]
for i in list_name:
    print

p
raveen

In [11]:
from collections import OrderedDict

# Creating an ordered dictionary
ordered_dict = OrderedDict()
ordered_dict['one']= 1
ordered_dict['three'] = 3
ordered_dict['two'] = 2
print(ordered_dict)

# Looping through the ordered dictionary
for key, value in ordered_dict.items():
    print(f"Key: {key} - Value: {value}")

OrderedDict([('one', 1), ('three', 3), ('two', 2)])
Key: one - Value: 1
Key: three - Value: 3
Key: two - Value: 2

In [27]:
a=5
sum=2
for i  in  range(1,a,2):
 sum+= i
print(sum)

2

In [10]:
number =5

# Define the range for the multiplication table (e.g., up to 10)
table_range = 10

# Using a for loop to iterate and print the multiplication table
for i in range(0, table_range + 1):
    result = number * i
    print(f"{number} x {i} = {result}")

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
a= 13
end=19
for i in range(1,end,+1):
     result=a * i
     print(f"{i} x {a} = {result}")

1 x 13 = 13
2 x 13 = 26
3 x 13 = 39
4 x 13 = 52
5 x 13 = 65
6 x 13 = 78
7 x 13 = 91
8 x 13 = 104
9 x 13 = 117
10 x 13 = 130
11 x 13 = 143
12 x 13 = 156
13 x 13 = 169
14 x 13 = 182
15 x 13 = 195
16 x 13 = 208
17 x 13 = 221
18 x 13 = 234

In [31]:
given_name ='madam'
reverse_name=""

for i in given_name:
    reverse_name=i+reverse_name
    
if (given_name==reverse_name):
     print("this is ",given_name,"palindrom")
        
else:
    print("this is not  ",given_name,"palindrom")

this is not   majdam palindrom

In [ ]:
pip install rembg

In [6]:
from rembg import remove
from PIL import image 
source='virat.jpg'
final ='convert.png'
X=image.open(source)
result=remove(x)
result=save(final)
print("finish")

ImportError: cannot import name 'virat' from 'PIL' (C:\Users\KBRO\AppData\Local\Programs\Python\Python311\Lib\site-packages\PIL\__init__.py)

In [1]:
name='narkuri'
store=""
for i in name:
    store=i+store
print(store)

irukran

In [13]:
from rembg import remove

with open("player.png", "rb") as input_file, open("output_image.png", "wb") as output_file:
    input_data = input_file.read()
    output_data = remove(input_data)
    output_file.write(output_data)

In [1]:
def fib(n):
    a,b=0,1
    while a<n:
        print(a,end=" ")
        a,b=b ,a+b
    print()
fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [1]:
class Task:
    def __init__(self, id, title, description, priority):
        self.id = id
        self.title = title
        self.description = description
        self.priority = priority

class TaskManager:
    def __init__(self):
        self.tasks = []

    # Implement other methods here...

def display_menu():
    print("Task Manager Menu")
    print("1. Add Task")
    print("2. Edit Task")
    print("3. Delete Task")
    print("4. View All Tasks")
    print("5. Filter Tasks by Priority")
    print("6. Exit")

def main():
    task_manager = TaskManager()

    while True:
        display_menu()
        choice = input("Enter your choice (1-6): ")

        if choice == "1":
            print("Selected: my name is praveen")
            print("j")
            # Call add_task() method
        elif choice == "2":
            print("Selected: Edit Task")
            # Call edit_task() method
        elif choice == "3":
            print("Selected: Delete Task")
            # Call delete_task() method
        elif choice == "4":
            print("Selected: View All Tasks")
            # Call view_all_tasks() method
        elif choice == "5":
            print("Selected: Filter Tasks by Priority")
            # Call filter_tasks_by_priority() method
        elif choice == "6":
            print("Exiting Task Manager. Goodbye!")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 6.")

if __name__ == "__main__":
    main()

Task Manager Menu
1. Add Task
2. Edit Task
3. Delete Task
4. View All Tasks
5. Filter Tasks by Priority
6. Exit

Enter your choice (1-6):  1

Selected: my name is praveen
j
Task Manager Menu
1. Add Task
2. Edit Task
3. Delete Task
4. View All Tasks
5. Filter Tasks by Priority
6. Exit

Enter your choice (1-6):  3

Selected: Delete Task
Task Manager Menu
1. Add Task
2. Edit Task
3. Delete Task
4. View All Tasks
5. Filter Tasks by Priority
6. Exit

Enter your choice (1-6):  6

Exiting Task Manager. Goodbye!

In [ ]:
import math

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error: Division by zero!"
    else:
        return x / y

def square_root(x):
    if x < 0:
        return "Error: Cannot compute square root of a negative number!"
    else:
        return math.sqrt(x)

def power(x, y):
    return x ** y

def sine(x):
    return math.sin(x)

def cosine(x):
    return math.cos(x)

def tangent(x):
    return math.tan(x)

print("Welcome to the Scientific Calculator!")

while True:
    print("\nSelect operation:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Square Root")
    print("6. Exponentiation")
    print("7. Sine")
    print("8. Cosine")
    print("9. Tangent")
    print("0. Exit")

    choice = input("Enter choice (0-9): ")

    if choice == '0':
        print("Exiting the calculator. Goodbye!")
        break
    elif choice in ('1', '2', '3', '4', '6'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
        elif choice == '6':
            print("Result:", power(num1, num2))
    elif choice in ('5', '7', '8', '9'):
        num = float(input("Enter number: "))

        if choice == '5':
            print("Result:", square_root(num))
        elif choice == '7':
            print("Result:", sine(num))
        elif choice == '8':
            print("Result:", cosine(num))
        elif choice == '9':
            print("Result:", tangent(num))
    else:
        print("Invalid input. Please enter a number between 0 and 9.")

In [5]:
first_name="praveen\n"
sure_name="_muthu\n"
third_number="phone\n825993115\n"
gmail="gmail-prv23@gmail.com"
answer=(first_name+sure_name)+(third_number)
print("this the result:",answer,gmail)

this the result: praveen
_muthu
phone
825993115
 gmail-prv23@gmail.com

In [1]:
num_1=10
num_2=5
answer=(num_1)
print(answer)

10

In [9]:
total_cut_pizza=29
eaten_pizza=25
slaicizing_pizza=total_cut_pizza-eaten_pizza
print("balance",slaicizing_pizza)

balance 4

In [6]:
def factorial (n):
    if n==9:
        return n
    else:
     return n * factorial(n-1)
number=5
print("The factorial of", number, "is", factorial(number))

RecursionError: maximum recursion depth exceeded in comparison

In [ ]:
}

In [3]:
for j in range(5):
    i=j*2
k=[j**3 for  j in range(10)]
print(j)

4

In [4]:
a="this is an apple"
words=a.split()
result=" ".join(reversed(words))
print(result)

apple an is this

In [6]:
a=("HLLO,WORLD")
print(a.lower())

hllo,world

In [9]:
a="hello,   world"
print(a.strip())

hello,   world

In [5]:
a=[2,23,4,5,67,839,2,2,5]
my_list=list(set(a))
my_list.sort()
print(my_list)
my_list.slice()

[2, 4, 5, 23, 67, 839]

AttributeError: 'list' object has no attribute 'slice'

In [8]:
def sum_of_even_numbers(numbers):
    total=2
    for num in numbers:
        if num % 2==9:
           total +=num
    return totals