In [1]:
empty_tuple = ()
print(empty_tuple)

()

sample_dictionary

In [12]:
sample_dictionary={'key':'value'}
print(sample_dictionary)

{'key': 'value'}

In [11]:
empty_dictionary = {}
print(empty_dictionary)

{}

In [47]:
empty_tuple1=(1,2,34,5)
empty_tuple2=(2,9009)
for i in empty_tuple1:
    print(i)
for e in empty_tuple2:
   print(e)

1
2
34
5
2
9009

example_dictionary

In [ ]:
get keys and value

In [26]:
print(example_dictionary.keys())

dict_keys(['name', 'qualification', 'year'])

In [27]:
print(example_dictionary.values())

dict_values([['praveen'], 'msc', '2024'])

add key value

In [16]:
my_dictionary={'key1':'value1','key2':'value2'}
my_dictionary['key3']='value3'
print(my_dictionary)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
option 2

In [19]:
my_dictionary={'name1':'praveen','name2':'saran'}
my_dictionary.update({'name3':'mari'})
print(my_dictionary)

{'name1': 'praveen', 'name2': 'saran', 'name3': 'mari'}

In [ ]:
can we  add duplicate key in dictionary? no but value changes

In [35]:
my_dictionary={'key1':'value1','key2':'value2'}
my_dictionary['key1']='value2'
print(my_dictionary)

{'key1': 'value2', 'key2': 'value2'}

In [37]:
my_dict={'key1':'value1','key2':'value2','key3':'value3'}
del my_dict['key1']
print(my_dict)

{'key2': 'value2', 'key3': 'value3'}

mutable

In [45]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict['key1']='new value'
print(my_dict)

{'key1': 'new value', 'key2': 'value2'}

In [ ]:
itrable or not itrable

In [54]:
my_dictionary={'key1':'value1','key2':'value2'}
for i in my_dictionary:
 print(i)

key1
key2

In [ ]:
ordered

In [289]:
my_dict={'key1':'value1','key2': 'value2','key3':'value3'}
my_dict['key3']='value3'
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

empty tuple

In [65]:
empty_tuple=()
print(empty_tuple)

()

In [ ]:
immutaple

In [71]:
my_tuple=(1,2,3,4,5,6)
my_tuple[2]=5
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
iterable

In [69]:
my_tuple=(1,2,3,4,5)
for i in my_tuple:
    print(i)

1
2
3
4
5

In [ ]:
ordered

In [85]:
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple +(6,907,1)
print(new_tuple)

(1, 2, 3, 4, 5, 6, 907, 1)

In [88]:
my_tuple=(1,2,3,4,)
del my_tuple[3]
print(my_tuple)

TypeError: 'tuple' object doesn't support item deletion

In [96]:
my_tuple=(1,2,3,4,5)
del my_tuple
print( my_tuple)

SyntaxError: invalid syntax (1024164854.py, line 3)

In [101]:
var_4= 1,2,3,4,5,6
var_4[2]=8
print(var_4)

TypeError: 'tuple' object does not support item assignment

In [103]:
sample_tuple=(1,2,3,4,5)
sample_tuple[1]=12
print(saple_tuple)

TypeError: 'tuple' object does not support item assignment

In [119]:
numb_gen=(numb 2 for numb in range (5))
for num in numb_gen:
    print(num)

SyntaxError: invalid syntax (3291334414.py, line 1)

#

In [288]:
my_dictionary={'key1':'value1','key2':'value'}
my_dictionary['key1']='new_value'
print(example_dictionary)
print(type(my_dictionary))

{'name': ['praveen'], 'qualification': 'msc', 'year': '2024'}
<class 'dict'>

var_1=10
print(var_1[2])

In [25]:

print(resulte)

SyntaxError: invalid syntax (2297621274.py, line 3)

In [1]:
c

NameError: name 'c' is not defined

SyntaxError: invalid syntax (570979664.py, line 1)

In [ ]:
string immutable

In [94]:
name_list='q'
name_list[0]='a'
print(name_list)

TypeError: 'str' object does not support item assignment

In [ ]:
iterable

In [137]:
# dictionaray
my_dictionary={'name':'praveen','rollnum':'p2021','class':'msc'}
my_dictionary['rollnum']='iva'
print(my_dictionary)

{'name': 'praveen', 'rollnum': 'iva', 'class': 'msc'}

In [147]:
print('PraveeN'. capitalize())

Praveen

In [164]:
print('pra7'*1,'msc'*11

pra7 mscmscmscmscmscmscmscmscmscmscmsc

In [62]:
example_dictionary={'name':'praveen','qualification':'msc','print':'total'}
for i in example_dictionary:
 print(i)

name
qualification
print

In [72]:
print  (example_dictionary.keys())

dict_keys(['name', 'qualification', 'print'])

In [106]:
my_dict={'name':'praveen','qualification':'msc','print':'total'}
del my_dict['name']
my_dict.update({'rollnum':'p202190'})
print(my_dict)

{'qualification': 'msc', 'print': 'total', 'rollnum': 'p202190'}

In [126]:
my_tuple=(1,2,0,4,5)
new_tuple=my_tuple+(3,)
del new_tuple
print('new_tuple')

new_tuple

In [ ]:
/

In [22]:
a=25
b=7
c=a/b
print(c)

3.5714285714285716

In [ ]:
%

In [19]:
a=25
b=7
c=b%c
print(c)

7.0

In [52]:
a=4853
b=317
c=a*b
print(c)

1538401

In [91]:
a=2
i=3
a**=i
print(a)

8

In [18]:
a=300
b=420
a-=b
print(a)

-120

In [53]:
a=302
b=202
print(a)
print(b)

302
202

# map

In [19]:
temp_list=[i for i in range(12)]
numbers_list=list(map(lambda x:x*3,temp_list))
print(numbers_list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

# zip

In [80]:
temp_list1=['mani','mani','siva','c']
temp_list2=['saran','siva','thil','dive']
for item1,item2 in zip(temp_list2,temp_list1,):
    print(item1,item2)

saran mani
siva mani
thil siva
dive c

In [85]:
tepm_list=['ravi','tharan']
':'.join(tepm_list)

'ravi:tharan'

In [86]:
temp_list=['siva','mani','arun']
for index,item in enumerate(temp_list):
    print(item,index)

siva 0
mani 1
arun 2

In [1]:
print("hllo,world")

hllo,world

In [6]:
var_1=4
print(var_1)
print(id(var_1))
a

4
140721753551752

In [6]:
empty_list={'key1':'value','key2':'value2','key4':'value3'}

empty_list['key1']=('praveen',)
del empty_list['key4']
print(empty_list)

{'key1': ('praveen',), 'key2': 'value2'}

In [20]:
list_example1=[1,2,3,4,5,6]
list_example2=['K','P','R','A','V','E','E','N']
for i in list_example1:
  print('i',i)
  for new in list_example2:
      print('new',new)

i 1
new K
new P
new R
new A
new V
new E
new E
new N
i 2
new K
new P
new R
new A
new V
new E
new E
new N
i 3
new K
new P
new R
new A
new V
new E
new E
new N
i 4
new K
new P
new R
new A
new V
new E
new E
new N
i 5
new K
new P
new R
new A
new V
new E
new E
new N
i 6
new K
new P
new R
new A
new V
new E
new E
new N

In [2]:
sample_list=set()
print(type(sample_list))

<class 'set'>

In [5]:
empty_list={1,2,3,4,6,6,7,7,5}
print(empty_list)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
remove duplicate list number 
list_set=[1,2,3,4,5,6,7,5,8]
unique_item=set(empty_list)
print(unique_item)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
empty_set=[1,2,3,4,5]
empty_set[4]='59'
print(empty_set)

[1, 2, 3, 4, '59']

In [74]:
sample_list=['praveen','praveen','arun','mani','mani','ajay','arun','kalai']
unique_item=set(sample_list)
for index,item in enumerate(unique_item):
   print(index,item)

0 ajay
1 arun
2 praveen
3 kalai
4 mani

In [26]:
list1=['ready','go','run','fast']
mini2=('high','ka')
object1=enumerate(list1)
object2=(mini2)
print("return type:",type(object))
print(list(enumerate(list1,1)))
print(list(enumerate(mini2,24)))

return type: <class 'type'>
[(1, 'ready'), (2, 'go'), (3, 'run'), (4, 'fast')]
[(24, 'high'), (25, 'ka')]

In [55]:
list1=['ready','go','run','fast']
for ele in enumerate (list1):
 print(ele)
#
list1=['ready','go','run','fast']
for count,ele  in enumerate(list1,100):
    print(ele,count)

(0, 'ready')
(1, 'go')
(2, 'run')
(3, 'fast')
ready 100
go 101
run 102
fast 103

In [58]:
number=float(123)
print(number)

123.0

In [61]:
empty_set=(1,2,3,4,5,6)
print(set())

set()

In [74]:
empty_set={1,2,3,4,5,6,7,8}
i =(empty_set)
 print (i)

IndentationError: unexpected indent (3300543784.py, line 3)

In [3]:
flot_number=(1.2,3.4,6.5)
print(flot_number

(1.2, 3.4, 6.5)

In [23]:
a=[1,2,3,4,5,6]
print(id(a))
b=[1,2,3,4,5,6]
print(id(b))
if a is

not b:
    print('id is same ')
else:
    print('id is not same')

2838562065792
2838539815424
id is same

In [30]:
a=10
b=40
c=a/?-b
print(c)

0.25