## What is the benefit of this library?
Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.
## How to install the library?
Pip install pandas 
## How to use the benefit the library?
Once we  installed  pandas lib , we can import pandas  to use the application 
Like:
Import pandas

## DataFrame
DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [2]:
import pandas as pd
data={ "name":["praveen","saran","arun"],
    "age":[25,29,None],
    "city":["chennai",None,"bangalore"]
}
df=pd.DataFrame(data)
print(df)

      name   age       city
0  praveen  25.0    chennai
1    saran  29.0       None
2     arun   NaN  bangalore

## Local Row
we can see from the result above, the DataFrame is like a table with rows and columns
Pandas use the loc attribute to return one or more specified row(s)

In [26]:
import pandas as pd
data={ "name":["praveen","saran","arun"],
    "age":[25,29,30],
    "city":["chennai","thanjavur","bangalore"]
}
df=pd.DataFrame(data)
print(df.loc[[2]])

# if we want to search tow 2 data we must use two squer bracate to search the data 
print(df.loc[[2,1]])

   name  age       city
2  arun   30  bangalore
    name  age       city
2   arun   30  bangalore
1  saran   29  thanjavur

## Named Indexes
With the index argument, you can name your own indexes.

In [29]:
import pandas as pd
data={ "name":["praveen","saran","arun"],
    "age":[25,29,30],
    "city":["chennai","thanjavur","bangalore"]
}
df=pd.DataFrame(data,index=["no:1","no:2","no:3"])
print(df)

         name  age       city
no:1  praveen   25    chennai
no:2    saran   29  thanjavur
no:3     arun   30  bangalore

## Read_csv
A simple way to store big data sets is to use CSV files (comma separated files).

In [37]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Downloads\data.csv')
print(df)

                       Country  Year   Rank  Total  S1: Demographic Pressures  \
0                      Somalia  2023    1st  111.9                       10.0
1                        Yemen  2023    2nd  108.9                        9.6
2                  South Sudan  2023    3rd  108.5                        9.7
3    Congo Democratic Republic  2023    4th  107.2                        9.7
4                        Syria  2023    5th  107.1                        7.4
..                         ...   ...    ...    ...                        ...
174                Switzerland  2023  175th   17.8                        2.4
175                New Zealand  2023  176th   16.7                        1.1
176                    Finland  2023  177th   16.0                        1.7
177                    Iceland  2023  178th   15.7                        1.5
178                     Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
0                      9.0                  8.7
1                      9.6                  8.8
2                     10.0                  8.6
3                      9.8                  9.4
4                      9.1                  9.1
..                     ...                  ...
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                                 8.6                      9.1          9.5
1                                 6.4                      7.9          9.9
2                                 6.5                      8.6          8.6
3                                 6.4                      8.4          8.1
4                                 8.0                      6.5          9.6
..                                ...                      ...          ...
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                     9.6                  9.8               9.0
1                     9.8                  9.6               9.6
2                     9.8                  9.7               8.7
3                     9.3                  9.3               9.3
4                    10.0                  9.0               9.1
..                    ...                  ...               ...
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
0                       9.5                      10.0
1                       8.6                       9.9
2                       9.9                       9.2
3                       8.8                       9.6
4                       9.4                       9.9
..                      ...                       ...
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
0                          9.1
1                          9.2
2                          9.2
3                          9.1
4                         10.0
..                         ...
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5

[179 rows x 16 columns]

## To_string

We want to see full data information  we can use to_string

In [39]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Downloads\data.csv')
print(df.to_string)

<bound method DataFrame.to_string of                        Country  Year   Rank  Total  S1: Demographic Pressures  \
0                      Somalia  2023    1st  111.9                       10.0
1                        Yemen  2023    2nd  108.9                        9.6
2                  South Sudan  2023    3rd  108.5                        9.7
3    Congo Democratic Republic  2023    4th  107.2                        9.7
4                        Syria  2023    5th  107.1                        7.4
..                         ...   ...    ...    ...                        ...
174                Switzerland  2023  175th   17.8                        2.4
175                New Zealand  2023  176th   16.7                        1.1
176                    Finland  2023  177th   16.0                        1.7
177                    Iceland  2023  178th   15.7                        1.5
178                     Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
0                      9.0                  8.7
1                      9.6                  8.8
2                     10.0                  8.6
3                      9.8                  9.4
4                      9.1                  9.1
..                     ...                  ...
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                                 8.6                      9.1          9.5
1                                 6.4                      7.9          9.9
2                                 6.5                      8.6          8.6
3                                 6.4                      8.4          8.1
4                                 8.0                      6.5          9.6
..                                ...                      ...          ...
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                     9.6                  9.8               9.0
1                     9.8                  9.6               9.6
2                     9.8                  9.7               8.7
3                     9.3                  9.3               9.3
4                    10.0                  9.0               9.1
..                    ...                  ...               ...
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
0                       9.5                      10.0
1                       8.6                       9.9
2                       9.9                       9.2
3                       8.8                       9.6
4                       9.4                       9.9
..                      ...                       ...
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
0                          9.1
1                          9.2
2                          9.2
3                          9.1
4                         10.0
..                         ...
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5

[179 rows x 16 columns]>

## Read JSON  ----(Data importing)

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas

In [43]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Downloads\sample1.json')
print(df)

                         {
  "fear": "quiet"      NaN
  "chest": -1477429467 NaN
  "how": false         NaN
  "graph": false       NaN
  "camp": 929234312    NaN
  "plural": "settle"   NaN
}                      NaN

## Concat()       ----(Data importing)
 function is used to concatenate (stack) DataFrames either row-wise (by default) or column-wise. It doesn't require a common column and is more useful for appending or stacking tables.

In [51]:
import pandas as pd
data1={ "name":["praveen","saran","arun"],
    "age":[25,29,30],
    "city":["chennai","thanjavur","bangalore"]
}
df1=pd.DataFrame(data1)
data2={ "name":["praveen","saran","arun"],
    "age":[25,29,30],
    "city":["chennai","thanjavur","bangalore"]
}
df2=pd.DataFrame(data2)

concat_df = pd.concat([df1, df2], ignore_index=True)
print(concat_df)

      name  age       city
0  praveen   25    chennai
1    saran   29  thanjavur
2     arun   30  bangalore
3  praveen   25    chennai
4    saran   29  thanjavur
5     arun   30  bangalore

## to_csv()
The df.to_csv() function in pandas is used to save a DataFrame to a CSV file. CSV stands for "Comma-Separated Values," and it's a common format for storing tabular data.

In [ ]:
to.csv()

## head()      ----(Data Statistic)

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [59]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Downloads\data.csv')
print(df.head(1))

   Country  Year Rank  Total  S1: Demographic Pressures  \
0  Somalia  2023  1st  111.9                       10.0

   S2: Refugees and IDPs  C3: Group Grievance  \
0                    9.0                  8.7

   E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                               8.6                      9.1          9.5

   P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                   9.6                  9.8               9.0

   C1: Security Apparatus  C2: Factionalized Elites  X1: External Intervention
0                     9.5                      10.0                        9.1

## tail()        ----(Data Statistic)
here is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [64]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\Downloads\data.csv')
print(df.tail(6))

         Country  Year   Rank  Total  S1: Demographic Pressures  \
173      Denmark  2023  174th   17.9                        2.3
174  Switzerland  2023  175th   17.8                        2.4
175  New Zealand  2023  176th   16.7                        1.1
176      Finland  2023  177th   16.0                        1.7
177      Iceland  2023  178th   15.7                        1.5
178       Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
173                    3.0                  3.1
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
173                               1.0                      1.8          1.0
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
173                   0.3                  1.7               0.6
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
173                     1.1                       1.4
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
173                        0.6
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5

## dropna()

#### Empty Cells
Empty cells can potentially give you a wrong result when you analyze data.

Dropna usage of pandas in python 
When we was storing data the in panda data frame, then We got a null value in pandas, so we don't need null value ,then we must remove the null value , so we use dropna () method to remove the null value in pandas

In [66]:

import pandas as pd
data={ "name":["praveen","saran","arun"],
    "age":[25,29,None],
    "city":["chennai",None,"bangalore"]
}
df=pd.DataFrame(data)
result=df.dropna()
print(result)

      name   age     city
0  praveen  25.0  chennai

## fillna()
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [102]:
import pandas as pd
data={ "name":["praveen","saran","arun"],
    "age":[25,29,None],
    "city":["chennai",None,"bangalore"]
}
df=pd.DataFrame(data)
df.fillna(20,inplace=True)
print(df)

      name   age       city
0  praveen  25.0    chennai
1    saran  29.0         20
2     arun  20.0  bangalore

## min() and max()

some one persion giving the data frame or series to find max and min valaue 
,so we will use max() and min method to find the value

In [138]:
import pandas as pd
data={ "a":[1,2,3,7,9,3,4,5],
       "b":[23,3,4,5,7,8,2,1],
       "c":[34,5,6,7,8,9,2,3]
       }
df=pd.DataFrame(data)
print("min value:\n",df.min(),"max value:\n",df.max())


data={ "a":[1,2,3,7,9,3,4,5],
       "b":[23,3,4,5,7,8,2,1],
       "c":[34,5,6,7,8,9,2,3]
       }
df=pd.DataFrame(data)
print("indexmin value:\n",df.idxmin(),"indexmax value:\n",df.idxmax())

min value:
 a    1
b    1
c    2
dtype: int64 max value:
 a     9
b    23
c    34
dtype: int64
indexmin value:
 a    0
b    7
c    6
dtype: int64 indexmax value:
 a    4
b    0
c    0
dtype: int64

# join

The join() method inserts column(s) from another DataFrame, or Series.

In [5]:
import pandas as pd

data1 = {
  "name": ["praveen", "Mary", "John"],
  "age": [25, 40, 30]
}
data2 = {
  "qualified": [True, False, False]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = df1.join(df2)
print(newdf)

      name  age  qualified
0  praveen   25       True
1     Mary   40      False
2     John   30      False

# append
The append() method appends a DataFrame-like object at the end of the current DataFrame.

The append() method returns a new DataFrame object, no changes are done with the original DataFrame.

In [13]:
import pandas as pd

data1 = {
  "age": [16, 14, 10],
  "qualified": [True, True, True]
}
df1 = pd.DataFrame(data1)

data2 = {
  "age": [55, 40],
  "qualified": [True, False]
}
df2 = pd.DataFrame(data2)

newdf = df1.append(df2)

print(newdf)

AttributeError: 'DataFrame' object has no attribute 'append'

# groupby 
he groupby() method allows you to group your data and execute functions on these groups.

In [18]:
import pandas as pd

data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}

df = pd.DataFrame(data)
numeric_df = df.select_dtypes(include="number")

print(df.groupby(["car"])[numeric_df.columns].mean())

         co2
car
Ford   100.5
Skoda   97.0

# applay
The apply() method allows you to apply a function along one of the axis of the DataFrame, default 0, which is the index (row) axis

In [26]:
import pandas as pd 

def cal_sum(x):
    return x.sum()
data={
     "price" : [12,34,56,90],
     "total amount" : [234,546,755,567]
}
df=pd.DataFrame(data)
result=df.apply(cal_sum)
print(result)

price            192
total amount    2102
dtype: int64

# pd.count

In [9]:
import pandas as pd
data={ "Duration": [50, 40, 7, None, 90,None,70, 20],
        "Pulse": [109, 140, 110, 125, 138,34,22,115]
}
df=pd.DataFrame(data)
result=df.count()
print(result)

Duration    6
Pulse       8
dtype: int64